<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все юзеры</title>
</head>
<body>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>email</th>
    </tr>
    <tr th:each="user, state : ${alluserskey}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${state.count}">...</td> <!-- вместо ... thymeleaf подставит значение-->
        <td>
            <a th:href="@{/users/admin/id?id={id}(id=${user.getId()})}"
               th:utext="${user.getName()}">...</a>
        </td>
        <td th:utext="${user.getAge()}">...</td>
        <td th:utext="${user.getEmail()}">...</td>
    </tr>
</table>
<br/>
<hr/>
<a href="/users/admin/new">Создать новую запись БД</a>
<br/>
<hr/>
<a href="/user">Страница авторизованного юзера</a>
<br/>
<hr/>
<a href="/logout">Логаут</a>
</body>
</html>