<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>
    <tr th:each="user, state : ${start_key}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${user.getId()}">...</td>
        <td th:utext="${user.getName()}">...</td>
    </tr>
</table>
<br/>
<hr/>
<a href="/admin">Вход в БД</a>
<br/>
<hr/>
<a href="/users/reg">Создать юзера с ролями</a>
<br/>
<hr/>
<a href="/logout">Логаут</a>
</body>
</html>
