<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Юзер по ID</title>
</head>
<body>
<p th:text="${userById_key.getName() + ', ' + userById_key.getAge()}">VALUE</p>
<p th:text="${'Email: ' + userById_key.getEmail()}">VALUE</p>
<p th:text="${'ID: ' + userById_key.getId()}">VALUE</p>
<a th:href="@{/admin/edit/id?id={id}(id=${userById_key.getId()})}">Изменить инфу</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/admin/id?id={id}(id=${userById_key.getId()})}">
    <input type="submit" value="Удалить запись из БД!"/>
    <br/>
    <hr/>
    <a href="/logout">Логаут</a>
</form>
</body>
</html>