<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/users/save}" th:object="${new_user}" th:method="post">
    <label for="username"> Введите имя пользователя: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <label for="yearOfBirth">Введите емейл: </label>
    <input type="text" th:field="*{email}" id="yearOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error
    </div>
    <br/>
    <div th:each="role : ${allRoles}">
        <label>
            <input type="checkbox"
                   name="roles"
                   th:value="${role.id}"
                   th:field="*{roles}" />
            <span th:text="${role.name}"></span>
        </label>
    </div>
    <input type="submit" value="Sign up!"/>
</form>
</body>
</html>